<div id="<%= dom_id sale %>">
  <p>
    <strong> Fecha y Hora:</strong>
    <%= sale.created_at %>
  </p>
  <p>
    <strong> Precio Total:</strong>
    <%= sale.sale_price %>
  </p>

  <p>
    <strong> Empleado que realizo la venta:</strong>
    <%= sale.user.username %>
  </p>

  <p>
    <strong> Cliente:</strong>
    <%= sale.client %>
  </p>

  <h3>Productos en esta venta:</h3>
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Ver Producto </th>
    </tr>
  </thead>
  <tbody>
    <% sale.product_sales.each do |product_sale| %>
      <tr>
        <td><%= product_sale.product.name %></td>
        <td><%= product_sale.quantity %></td>
        <td><%= product_sale.price %></td>
        <td><%= link_to link_to t('show') + ' ' + t('product'), product_sale.product, class: "link-button"  %>  </td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
