<div id="<%= dom_id sale %>">
  <div class="user-show-header">
        <h1>Información de la Venta </h1>
  </div>

  <div class="user-show-content">
      <p><strong>Fecha y Hora:</strong> <%= sale.created_at.strftime("%d/%m/%Y, %H:%M") %></p>
      <p><strong>Precio Total:</strong> <%= sale.sale_price %></p>
      <p><strong>Empleado:</strong> <%=  sale.user.username %></p>
      <p><strong>Cliente:</strong> <%= sale.client %></p>
  </div>

<div class="table-container">
  <table>
    <thead>
      <tr>
        <th> Producto </th>
        <th> Cantidad </th>
        <th> Precio </th>
        <th> Detalle </th>
      </tr>
    </thead>
    <tbody>
      <% sale.product_sales.each do |product_sale| %>
        <tr>
          <td><%= product_sale.product.name %></td>
          <td><%= product_sale.quantity %></td>
          <td><%= product_sale.price %></td>
          <td>
           <%= link_to product_path(product_sale.product), class: "view-link" do %>
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 24 24"><path fill="#000000" d="M22 3H2v6h1v11a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V9h1zM4 5h16v2H4zm15 15H5V9h14zM9 11h6a2 2 0 0 1-2 2h-2a2 2 0 0 1-2-2"/></svg>
          <% end %>
          
           </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


</div>
