<div id="<%= dom_id sale %>">
  <div class="user-show-header">
        <h1>Información de la Venta </h1>
  </div>

  <div class="user-show-content">
      <p><strong>Fecha y Hora:</strong> <%= sale.created_at.strftime("%d/%m/%Y, %H:%M") %></p>
      <p><strong>Precio Total:</strong> <%= sale.sale_price %></p>
      <p class="clickable-row" data-url="<%= user_path(sale.user) %>"><strong>Empleado:</strong> <%= sale.user.username %></p>      <p><strong>Cliente:</strong> <%= sale.client %></p>
       <p><strong>Estado:</strong>  <%= sale.is_deleted ? "Cancelada" : "Completada" %></p>
  </div>

  <div class="table-container">
    <table>
      <thead>
        <tr>
          <th> Producto </th>
          <th> Cantidad </th>
          <th> Precio </th>
        </tr>
      </thead>
      <tbody>
        <% sale.product_sales.each do |product_sale| %>
          <tr data-url="<%= product_path(product_sale.product) %>" class="clickable-row">
            <td><%= product_sale.product.name %></td>
            <td><%= product_sale.quantity %></td>
            <td><%= product_sale.price %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

</div>

<%= javascript_tag do %>
  document.addEventListener('turbo:load', () => {
    document.querySelectorAll(".clickable-row").forEach(row => {
      row.addEventListener("click", function () {
        const url = this.dataset.url;
        if (url) {
          window.location.href = url;
        }
      });
    });
  }); 

<% end %>