<div id="<%= dom_id sale %>">
  <p>
    <strong> Precio Total:</strong>
    <%= sale.sale_price %>
  </p>

  <p>
    <strong> Cliente:</strong>
    <%= sale.client %>
  </p>

  <h3>Productos en esta venta:</h3>
<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Cantidad</th>
      <th>Precio</th>
    </tr>
  </thead>
  <tbody>
    <% sale.product_sales.each do |product_sale| %>
      <tr>
        <td><%= product_sale.product.name %></td>
        <td><%= product_sale.quantity %></td>
        <td><%= product_sale.price %></td>
      </tr>
    <% end %>
  </tbody>
</table>


</div>
