<% content_for :title, t('sales') %>

<div class="title-container">
  <h1> Ventas </h1>
  <%= link_to t('new_sale') + ' ' + t('sale'), new_sale_path, class: "add-button" %>
</div>

<div class="table-container">
  <table>
    <thead>
        <tr>
          <th> Fecha y Hora </th>
          <th> Empleado </th>
          <th> Cliente </th>
          <th> Estado </th>
        </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale|  %>
        <tr data-url="<%= sale_path(sale) %>" class="clickable-row">
          <td> <%= sale.created_at.strftime("Día: %d/%m/%Y, Hora: %H:%M") %> </td>
          <td> <%= sale.user.username %> </td>
          <td> <%= sale.client %> </td>
          <td> <%= sale.is_deleted ? "Cancelada" : "Completada" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @sales %>

<%= javascript_tag do %>
  document.addEventListener('turbo:load', () => {
  document.querySelectorAll(".clickable-row").forEach(row => {
    row.addEventListener("click", function () {
      const url = this.dataset.url;
      if (url) {
        window.location.href = url;
      }
    });
  });
});

<% end %>

