<% content_for :title, t('sales') %>

<div class="title-container">
  <h1> Ventas </h1>
  <%= link_to t('new_sale') + ' ' + t('sale'), new_sale_path, class: "add-button" %>
</div>

<div class="table-container">
  <table>
    <thead>
        <tr>
          <th> Fecha y Hora </th>
          <th> Empleado </th>
          <th> Cliente </th>
          <th> Estado </th>
          <th> Ver </th>
        </tr>
    </thead>
    <tbody>
      <% @sales.each do |sale|  %>
        <tr>
          <td> <%= sale.created_at.strftime("Día: %d/%m/%Y, Hora: %H:%M") %> </td>
          <td> <%= sale.user.username %> </td>
          <td> <%= sale.client %> </td>
          <td> <%= sale.is_deleted ? "Cancelada" : "Completada" %></td>
          <td> <%= link_to sale_path(sale), class: "link-button" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 16 16"><path fill="#c01c28" fill-rule="evenodd" d="M3 2.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 .5.5v3h.5a.5.5 0 0 1 .5.5v6.5a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-8a.5.5 0 0 1 .5-.5H3zM3 5v2.5h10v-1H7.5a.5.5 0 0 1-.354-.146L5.793 5zm9 .5V3H4v1h2a.5.5 0 0 1 .354.146L7.707 5.5z" clip-rule="evenodd"/></svg>      
                <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @sales %>

