<p style="color: green"><%= notice %></p>

<%= render @sale %>

<div>
  <%= link_to "Editar Venta", edit_sale_path(@sale) %> |
  <%= link_to "Volver a Ventas", sales_path %>

  <%= button_to "Borrar Venta", @sale, method: :delete %>
</div>
