<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Avivas" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Monda:wght@400..700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Hind+Madurai:wght@300;400;500;600;700&family=Monda:wght@400..700&display=swap" rel="stylesheet">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "navbar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sidebar", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "content", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "form", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "pagination", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users/index", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "users/show", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "products/index", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "products/show", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "sales/show", "data-turbo-track": "reload" %>
     <%= stylesheet_link_tag "categories/index", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <header class="header-container">
        <nav>
            <div class="nav-left">
                <a href="/products" class="nav-button"> Productos </a>
                <% if user_signed_in? %>
                    <% if can? :read, Sale %>
                        <a href="/sales" class="nav-button"> Ventas </a>
                    <% end %>
                    <% if can? :read, User %>
                        <a href="/users" class="nav-button"> Usuarios </a>
                    <% end %>
                <% end %>
            </div>
            <div class="nav-center"> 
               <div class="page-title">
                    <img src="/icon.svg" alt="avivas" class="icon">
                    <h1> <%= link_to "Avivas", products_path, class: "link" %></h1>
                </div>
                <% if notice.present? %>
                    <p class="notice"><%= notice %></p>
                <% end %>
                <% if alert.present? %>
                    <p class="alert"><%= alert %></p>
                <% end %>
            </div>
            <div class="nav-right">
                <% if user_signed_in? %>
                     <%= link_to "Editar Perfil", edit_user_registration_path, class: "nav-button" %>
                    <%= button_to "Cerrar Sesión", destroy_user_session_path, method: :delete, class: "nav-button" %>
                <% else %>
                    <%= link_to "Iniciar Sesión", new_user_session_path, class: "nav-button" %>
                <% end %>
            </div>
        </nav>
    </header>
    <div class="main-container">
        <aside>
            <div class="category-link"> <a href="/categories" class="category"> Categorias </a> </div>
            <div>
                <% @side_categories.each do |category| %>
                    <div>
                    <%= link_to category.name, category_path(category), class: "category-button" %>
                    </div>
                <% end %>
                <div class="category-link"> <a href="/categories" class="category"> ... </a> </div>
            </div>
        </aside>
        <main>
            <%= yield %>
        </main>
    </div>
  </body>
</html>
