<%= form_with(model: @user, local: true, class: "form") do |form| %>
  <% if user.errors.any? %>
    <div class="error-container">
      <h2 class="error-title">
        No se pudo guardar el usuario
      </h2>
      <div class="error-list">
        <% user.errors.each do |error| %>
          <span class="error-item"><%= error.full_message %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :username, class:"form-label" %>
    <%= form.text_field :username, class:"form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :email, class:"form-label" %>
    <%= form.email_field :email, class:"form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :telephone, class:"form-label" %>
    <%= form.text_field :telephone, class:"form-input" %>
  </div>

  <div class="form-group">
    <%= form.label :role, class:"form-label" %>
    <%= form.select :role, @roles, {}, { class: "form-role-select" } %>
  </div>

  <div class="form-group">
    <%= form.label :entered_at, class:"form-label" %>
    <%= form.date_field :entered_at, class:"form-input" %>
  </div>

  <% if @user.new_record? %>
    <div class="form-group">
      <%= form.label :password, class:"form-label" %>
      <%= form.password_field :password, class:"form-input" %>
    </div>

    <div class="form-group">
      <%= form.label :password_confirmation, class:"form-label" %>
      <%= form.password_field :password_confirmation, class:"form-input" %>
    </div>
  <% end %>

  <div class="form-actions">
    <%= form.submit class: "submit-button"%>
  </div>
<% end %>
