<div id="<%= dom_id user %>">
  <p>
    <strong>Nombre de Usuario:</strong>
    <%= user.username %>
  </p>

  <p>
    <strong>Correo Electronico:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Teléfono:</strong>
    <%= user.telephone %>
  </p>

  <p>
    <strong>Fecha de Ingreso a la Cadena:</strong>
    <%= user.entered_at %>
  </p>

  <p>
    <strong>Rol:</strong>
    <%= user.role %>
  </p>
</div>

