<% content_for :title, t('users') %>

<div class="title-container">
  <h1> Usuarios </h1>
  <%= link_to t('new') + ' ' + t('user'), new_user_path, class: "add-button" %>
</div>

<table>
  <thead>
    <tr>
      <th> Nombre de Usuario </th>
      <th> Email </th>
      <th> Teléfono </th>
      <th> Rol </th>
      <th> Ver usuario </th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.email %></td>
        <td><%= user.telephone %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to 'Ver', user_path(user) %> 
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

