<% content_for :title, t('users') %>

<div class="title-container">
  <h1> Usuarios </h1>
  <%= link_to t('new') + ' ' + t('user'), new_user_path, class: "add-button" %>
</div>

<div class="table-container">
  <table>
    <thead>
        <tr>
          <th> Nombre de Usuario </th>
          <th> Email </th>
          <th> Rol </th>
          <th> Fecha de Ingreso </th>
          <th> Estado </th>
        </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr data-url="<%= user_path(user) %>" class="clickable-row">
          <td> <%= user.username %> </td>
          <td> <%= user.email %> </td>
          <td> <%=  t("roles.#{user.role}") %> </td>
          <td> <%= user.entered_at %> </td>
          <td>  <%= user.is_deleted ? "Inactivo" : "Activo" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @users %>

<%= javascript_tag do %>
  document.addEventListener('turbo:load', () => {
  document.querySelectorAll(".clickable-row").forEach(row => {
    row.addEventListener("click", function () {
      const url = this.dataset.url;
      if (url) {
        window.location.href = url;
      }
    });
  });
});

<% end %>