<%= render @user %>

<div>
  <%= link_to t('edit') + ' ' + t('user'), edit_user_path(@user), class: "link-button"  %> |
  <%= link_to t('back_to') + ' ' + t('users'), users_path, class: "link-button"  %>

  <%= button_to t('delete') + ' ' + t('user'), @user, method: :delete, class: "link-button"  %> |
  <%= link_to "Volver", :back, class: "link-button" %>
</div>