<div class="content-container">
  <div class="user-container">
      <%= render @user %>

    <div class="links-container">
      <%= link_to t('back_to') + ' ' + t('users'), users_path, class: "link back-link"  %>

      <% if can? :update, @user %>
           <%= link_to t('edit') + ' ' + t('user'), edit_user_path(@user), class: "link edit-link"  %> 
      <% end %>

      <% if can? :destroy, @user %>
        <% if @user.is_deleted %>
          <%= button_to t('restore') + ' ' + t('user'), @user, method: :delete, class: "link restore-link" %>
        <% else %>
              <%= button_to t('delete') + ' ' + t('user'), @user, method: :delete, class: "link delete-link" %>
        <% end %>
      <% end %>
    </div>

  </div>
</div>