<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Editar Usuario", edit_user_path(@user) %> |
  <%= link_to "Volver a Usuarios", users_path %>

  <%= button_to "Borrar Usuarios", @user, method: :delete %>
</div>
