<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Precio Unitario:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock Disponible:</strong>
    <%= product.stock %>
  </p>

  <div style="background-color: <%= @product.color %>;">
  <p> Color: <%= @product.color %></p>
</div>

</div>
