<div id="<%= dom_id product %>">
  <p>
    <strong>Nombre:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Descripción:</strong>
    <%= product.description %>
  </p>

  <p>
    <strong>Precio Unitario:</strong>
    <%= product.price %>
  </p>

  <p>
    <strong>Stock Disponible:</strong>
    <%= product.stock %>
  </p>

  <div style="background-color: <%= product.color %>;">
    <p> Color: <%= product.color %></p>
  </div>

  <h3>Categorías:</h3>
  <ul>
    <% product.categories.each do |category| %>
      <li><%= category.name %></li>
    <% end %>
  </ul>

<% product.images.each do |image| %>
  <%= image_tag image,  style: "width: 300px; height: 300px;" %>
<% end %>

</div>
