<% content_for :title, t('products') %>

<div class="index-container">
  <div class="product-title-container">
    <h1> Productos </h1>
    <% if user_signed_in? %>
      <%= link_to t('new') + ' ' + t('product'), new_product_path, class: "add-button" %>
    <% end %>
  </div>

  <%= search_form_for @q, url: products_path, html: { class: "search-form" } do |f| %>
    <div class="search-form-group">
      <%= f.label :name_cont, "Nombre", class: "search-form-label" %>
      <%= f.search_field :name_cont, class: "search-form-input", placeholder: "Ingresa el nombre del producto..." %>
    </div>
    <div class="search-form-group">
      <%= f.label :description_cont, "Descripción", class: "search-form-label" %>
      <%= f.search_field :description_cont, class: "search-form-input", placeholder: "Ingresa la descripción del producto..." %>
    </div>
    <div class="search-form-submit-group">
      <%= f.submit "Buscar Productos", class: "search-form-submit" %>
    </div>
  <% end %>

  <div class="products-container">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "product-card" do %>
        <div class="product-image">
          <% if product.images.any? %>
            <%= image_tag product.images.first, alt: product.name %>
          <% else %>
            <img src="https://via.placeholder.com/300" alt="<%= product.name %>">
          <% end %>
        </div>
        <div class="product-info">
          <h3><%= product.name %></h3>
          <p class="price"><%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: ".") %></p>
        </div>
      <% end %>
    <% end %>
  </div>

</div>

