<% content_for :title, t('products') %>

<div class="title-container">
  <h1> Productos </h1>
  <%= link_to t('new') + ' ' + t('product'), new_product_path, class: "add-button" %>
</div>

<div class="products-container">
  <% @products.each do |product| %>
    <div>
      <div>
        <h3><%= product.name %></h3>
        <p><%= number_to_currency(product.price) %></p>
        <p><%= product.stock %> </p>
      </div>
      <%= link_to t('show') + ' ' + t('product'), product, class: "link-button"  %>
    </div>
  <% end %>
</div>

