<div class="content-container">
  <div class="product-container">

  <%= render @product %>

  <div class="links-container">
    <%= link_to t('back_to') + ' ' + t('products'), products_path, class: "link back-link"  %>
    <% if user_signed_in? %>
      <% if !@product.is_deleted %>
          <% if can? :update, @product %>
            <%= link_to t('edit') + ' ' + t('product'), edit_product_path(@product), class: "link edit-link"  %>
          <% end %>

          <% if can? :destroy, @product %>
            <%= button_to t('delete') + ' ' + t('product'), @product, method: :delete, class: "link delete-link"  %>
          <% end %>
      <% else %>
        <% if can? :destroy, @product %>
          <%= button_to t('restore') + ' ' + t('product'), @product, method: :delete, class: "link restore-link"  %>
        <% end %>
      <% end %>
    <% end %>
  </div>

  </div>
</div>