<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <%= link_to "Editar Producto", edit_product_path(@product) %> |
  <%= link_to "Volver a Productos", products_path %>

  <%= button_to "Borrar Producto", @product, method: :delete %>
</div>
