<div class="login-container">
  <div class="login-form">
    <h2 class="login-title"> Iniciar Sesión </h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="login-form-group">
        <%= f.label :email, class: "login-form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "login-form-input" %>
      </div>

      <div class="login-form-group">
        <%= f.label :password, "Contraseña", class: "login-form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "login-form-input" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="login-form-group">
          <%= f.check_box :remember_me, class: "login-form-checkbox" %>
          <%= f.label :remember_me, "Recordame", class: "login-form-label" %>
        </div>
      <% end %>

      <div class="login-form-group">
        <%= f.submit "Iniciar Sesión", class: "login-form-submit" %>
      </div>
    <% end %>

    <div class="login-form-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
