<div class="title-container">
  <h1> Iniciar Sesión </h1>
</div>
  
<div class="form">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-input" %>
    </div>

    <div class="form-group">
      <%= f.label :password, "Contraseña", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-input" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="form-group" style="display: flex; align-items: center; gap: 8px;">
        <%= f.check_box :remember_me, class: "form-checkbox" %>
        <%= f.label :remember_me, "Recordame", class: "form-label" %> 
      </div>
    <% end %>

    <div class="form-actions">
      <%= f.submit "Iniciar Sesión", class: "submit-button" %>
    </div>
  <% end %>

  <div class="login-form-links">
    <%= render "devise/shared/links" %>
  </div>
</div>
