<h1> AVIVAS </h1>

<%= link_to "Iniciar sesión", new_user_session_path %>

<h3> Usuarios </h3>
<%= link_to "Usuarios", users_path %>

<h3> Productos </h3>
<%= link_to "Productos", products_path %>

<h3> Ventas </h3>
<%= link_to "Ventas", sales_path %>

<h3> Cateorias </h3>
<%= link_to "Categorias", categories_path %>