<div id="<%= dom_id category %>">

  <div class="product-title-container">
    <h1> <%= category.name %> </h1>
  </div>

  <div class="products-container">
    <% @products.each do |product| %>
      <%= link_to product_path(product), class: "product-card" do %>
        <div class="product-image">
          <% if product.images.any? %>
            <%= image_tag product.images.first, alt: product.name %>
          <% else %>
            <img src="https://via.placeholder.com/300" alt="<%= product.name %>">
          <% end %>
        </div>
        <div class="product-info">
          <h3><%= product.name %></h3>
          <p class="price"><%= number_to_currency(product.price, unit: "$", separator: ",", delimiter: ".") %></p>
        </div>
      <% end %>
    <% end %>
  </div>

  <%= paginate @products %>

</div>
