<%= form_with(model: category, class: "form") do |form| %>
  <% if category.errors.any? %>
    <div class="error-container">
      <h2 class="error-title">
        No se pudo guardar la categoria:
      </h2>
      <div class="error-list">
        <% category.errors.each do |error| %>
          <span class="error-item"><%= error.full_message %></span>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, class:"form-label" %>
    <%= form.text_field :name, class:"form-input" %>
  </div>

  <div class="form-actions">
    <%= form.submit class: "submit-button"%>
  </div>
<% end %>
