<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to "Editar Categoria", edit_category_path(@category) %> |
  <%= link_to "Volver a Categorias", categories_path %>

  <%= button_to "Borrar Categoria", @category, method: :delete %>
</div>
