<p style="color: green"><%= notice %></p>

<%= render @category %>

<div>
  <%= link_to t('edit') + ' ' + t('category'), edit_category_path(@category) %> |
  <%= link_to t('back_to') + ' ' + t('categories'), categories_path %>

  <%= button_to t('delete') + ' ' + t('category'), @category, method: :delete %>
</div>